@model ProfileSummaryDto

    <tr>
        <td>Username: @Model.UserName</td>
        <td>Name: @Model.Name</td>
        <td>Followings: @Model.FollowerCount</td>
        <td>Followers: @Model.FollowingCount</td>
        <td>ImagePath: @Model.ImagePath</td>
        <td>Tweet Count: @Model.TweetCount</td>
    </tr>